body {
  font-family: "Acme", sans-serif;
  background: rgb(0, 60, 61);
  background: linear-gradient(
    90deg,
    rgba(0, 60, 61, 1) 0%,
    rgba(88, 60, 0, 1) 100%
  );
}

.main-container {
  border: 3px solid;
  border-color: wheat;
  border-radius: 1%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: rgb(0, 149, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 149, 150, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.content-container {
  text-align: center;
  padding: 10px;
}
